:root {
    --font-color: #0c0c0c;
    --background-color: #fff;
    --button-color: white;
    --button-text-color: #2478CC;
    --button-hover-color: rgba(143, 143, 143, 0.1);
    --container-border-color: #ccc;
    --top-bar-color: #eeeeee;
    --bottom-bar-color: #e0e0e0;
    --highlight2-bg-color: #2478CC;
    --highlight-background: rgba(0, 121, 246, 0.26);
    --highlight-border: #084498;
    --highlighted-text-color: #fff;
    
    --highlight-background-gradient: linear-gradient(to bottom, #0079FB 0%, #0079FB 100%);

    --text-decoration-border: var(--highlight-border);

    --purple-highlight-invert-bg:#8f44ad;
    --purple-highlight-bg:rgba(152, 0, 212, 0.149);
    --purple-highlight-border:#a12ecf;


    
    --purple-linear-gradient: linear-gradient(
        180deg, 
        transparent 10%, 
        rgba(152, 0, 212, 0.149) 9%
    );
    --linear-gradient: linear-gradient(
        180deg, 
        transparent 10%, 
        rgba(0, 121, 246, 0.2) 9%
    );

}


body.beige-theme {
    --font-color: #0c0c0c;
    --background-color: #F9F9E9;
    --button-color: #F9F9E9;
    --button-text-color: #2478CC;
    --button-hover-color: rgba(143, 143, 143, 0.1);
    --container-border-color: #ccc;
    --top-bar-color: #E0E0C7;
    --bottom-bar-color: #d2d2b8;
    --highlight2-bg-color: #2478CC;
    --highlight-background: rgba(0, 121, 246, 0.26);
    --highlight-border: rgb(8, 68, 152);
    --highlighted-text-color: #fff;
    
    --purple-highlight-invert-bg:#a12ecf;
    --purple-highlight-bg:rgba(152, 0, 212, 0.149);
    --purple-highlight-border:#a12ecf;

    --text-decoration-border: var(--highlight-border);

}

body.dark-theme {
    --font-color: #ebebeb;
    --background-color: #000000;
    --button-color: #000000;
    --button-text-color: #7cb8ec;
    --button-hover-color: rgba(143, 143, 143, 0.5);
    --container-border-color: #646464;
    --top-bar-color: #2d2d2d;
    --bottom-bar-color: #222222;
    --highlight2-bg-color: #7eb3ff;
    --highlight-background: rgba(125, 189, 255, 0.5);
    --highlight-border: rgb(100, 188, 255);
    --highlighted-text-color: #000000;

    --purple-highlight-invert-bg:#da94f6;
    /* --purple-highlight-bg:#611E80; */
    --purple-highlight-bg:rgba(196, 67, 255, 0.4);

    --purple-highlight-border:#DD90FF;

    --text-decoration-border: var(--highlight-border);


    --purple-linear-gradient: linear-gradient(
        180deg, 
        transparent 10%, 
        rgba(196, 67, 255, 0.4) 9%
    );
    --linear-gradient: linear-gradient(
        180deg, 
        transparent 10%, 
        rgba(125, 189, 255, 0.5) 9%
    );


}

html {
    font-family: calibri, sans-serif;
    font-size: 24px;
}

body {
    margin: 0;
    line-height: 1.4;
    background-color: var(--background-color);
    color: var(--font-color);
}

h1 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

h3 {
    margin: 0rem;
}


.buttons {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;

}

.vl {
    border-left: 1px solid rgb(138, 138, 138);
   margin: 0px 6px 0px 6px;
  }


select {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 6px;
    border: 1px solid #909090;
    padding: 8px 12px;
    font-size: .8rem;
    margin: 0 0.1rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 6px;
    border: 1px solid #909090;
    padding: 8px 12px;
    font-size: .8rem;
    margin: 0 0.1rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.subtle {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 6px;
    border: 0px solid #909090;
    padding: 6px 8px;
    font-size: .8rem;
    margin: 0 0rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

button:hover {
    background-color: var(--button-hover-color);
}

.container {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: var(--container-border-color);
}

.gray-bar {
    position: absolute;
    width: 100%;
}

.top-bar {
    height: 60px;
    background-color: var(--top-bar-color);
}

.bottom-bar {
    height: 67px;
    top: 60px;
    background-color: var(--bottom-bar-color);
}

.content-wrapper {
    display: flex;
    position: absolute;
    top: 127px;
    width: 100%;
    height: calc(100% - 127px);
    padding: 2rem;
    box-sizing: border-box;
}

.left-column, .right-column {
    flex: 1;
    box-sizing: border-box;
}

.left-column {
    padding: 0 1.5rem 0 0;
}

.right-column {
    padding: 0 0 0 1.5rem;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin: 0px;
    line-height: 1.5;
    text-indent: 2rem;
}

/* .highlightTarget {
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    
} */


.highlightTarget {
    text-decoration: underline 1px transparent; 
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    
}


@keyframes fadeInOut {
    0%, 50% {
        background-color: transparent;
    }
    25%, 100% {
        background-color: var(--highlight-background);
    }
}
.highlight {
    animation: fadeInOut 900ms forwards;
}

@keyframes fadeInOut2 {
    0%, 50% {
        background-color: transparent;
    }
    25%, 100% {
        background-color: var(--highlight2-bg-color);
    }
}
@keyframes fadeInOutTextColor {
    0%, 50% {
        color: var(--highlighted-text-color);
    }
    25%, 100% {
        color: var(--highlighted-text-color);
    }
}
.highlight2 {
    animation: fadeInOut2 900ms forwards, fadeInOutTextColor 900ms forwards;
    color: var(--highlighted-text-color);
}

@keyframes fadeInOutBorder {
    0%, 50% {
        border-color: transparent;
        background-color: transparent;
    }
    25%, 100% {
        border-color: var(--highlight-border);
        background-color: var(--highlight-background);
    }
}

.highlight3 {
    animation: fadeInOut 900ms forwards, fadeInOutBorder 900ms forwards;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    box-sizing: border-box;
}

@keyframes fadeInOutBottomBorder {
    0%, 50% {
        border-bottom-color: transparent;
        background-color: transparent;
        text-decoration-color: transparent;
    }
    25%, 100% {
        border-bottom-color: var(--highlight-border);
        background-color: var(--highlight-background);
        text-decoration-color: var(--text-decoration-border);
    }
}

/* .highlight4 {
    animation: fadeInOut 900ms forwards, fadeInOutBottomBorder 900ms forwards;
    border: 1px solid transparent;
    box-sizing: border-box;
} */

.highlight4 {
    animation: fadeInOut 900ms forwards, fadeInOutBottomBorder 900ms forwards;
}






.highlight5 {
    animation: blinkEffect .5s steps(1, end) 2 forwards; /* Ensure 'forwards' is set to keep the final state */
}


@keyframes blinkEffect {
    0% {
        background: transparent;
        text-decoration-color: transparent;
    }
    50%, 100% {
        background: var(--linear-gradient); 
        text-decoration-color: var(--text-decoration-border);
    }
}





/* body.purple-theme {
    --highlight2-bg-color: #a12ecf;
    --highlight-background: #f3d5ff;
    --highlight-border: #a12ecf;
} */

body.purple-theme {
    --highlight2-bg-color: var(--purple-highlight-invert-bg);
    --highlight-background: var(--purple-highlight-bg);
    --highlight-border: var(--purple-highlight-border);
    --text-decoration-border:var(--purple-highlight-border);
    --linear-gradient: var(--purple-linear-gradient);
}




/* CSS for the hidden return button */
.return-button {
    position: absolute;
    z-index: 10;
}
  
.hidden {
    visibility: hidden;
}
